body {
  background-image: url('images/cubos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.tituloIndiceH1{
  display: inline-inline-block;
  width: 50%;
}

.tituloIndiceH2{
  display: inline-inline-block;
  width: 75%;
}

.dropdown-menu{
  width: auto;
}
