.fondoNormal {
  background-image: url('images/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.fondoSuave {
  background-image: url('images/fondoSuave.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.imagenJuego1_1{
  background-image: url('images/caraBombilla.jpg');
  background-size: cover;
  width: 900px;
  height: 500px;
  border: 0.03em solid black;
}

.imagenJuego1_3{
  background-image: url('images/conejoZanahoria.jpg');
  background-size: contain;
  width: 900px;
  height: 500px;
  border: 0.03em solid black;
}

/*---------------*/
/*--- DIBUJAR ---*/
/*---------------*/
.imagenJuego1_2{
  background-image: url('images/imagenJuego1_2.jpg');
  background-size: contain;
}

.imagenJuego5_1{
  background-image: url('images/imagenJuego5_1.jpg');
  background-size: contain;
}

.imagenJuego5_2{
  background-image: url('images/imagenJuego5_2.jpg');
  background-size: contain;
}

.imagenJuego5_3{
  background-image: url('images/imagenJuego5_3.jpg');
  background-size: contain;
}

.imagenJuego3_1{
  background-image: url('images/imagen3_1.jpg');
  background-size: contain;
}

.imagenJuego3_2{
  background-image: url('images/imagen3_2.jpg');
  background-size: contain;
}

.imagenJuego3_3{
  background-image: url('images/imagen3_3.jpg');
  background-size: contain;
}
/*-------------------*/
/*--- FIN DIBUJAR ---*/
/*-------------------*/

/*----------------*/
/*--- ARRASTRE ---*/
/*----------------*/
.contenedorArrastre{
  width: 900px;
}

.fondoDestinoArrastre{
  width: 900px;
  height: 425px;
  background-image: url(images/arrastreDestino1_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.fondoDestinoArrastre7_1{
  height: 500px;
}

.divOrigenArrastre{
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
  outline: 0.1em solid;
  margin-bottom: 1%;
}

.divOrigenArrastre7_2{
  width: 450px;
  height: 500px;
  background-size: 450px 500px;
  outline: 0.1em solid;
  margin-bottom: 1%;
}

.itemArrastre{
  width: 150px;
  height: 100px;
}

.itemArrastre7_2{
  width: 450px;
  height: 500px;
}

.itemDestinoArrastreA4_1{
  background-image: url('images/destinoA4_1.jpg');
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
}

.itemDestinoArrastreB4_1{
  background-image: url('images/destinoB4_1.jpg');
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
}

.itemDestinoArrastreA4_2{
  background-image: url('images/destinoA4_2.jpg');
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
}

.itemDestinoArrastreB4_2{
  background-image: url('images/destinoB4_2.jpg');
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
}

.itemDestinoArrastreA4_3{
  background-image: url('images/destinoA4_3.jpg');
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
}

.itemDestinoArrastreB4_3{
  background-image: url('images/destinoB4_3.jpg');
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
}

.itemDestinoArrastreA7_2{
  background-image: url('images/imagen7_1rec1op.jpg');
  width: 450px;
  height: 100%;
  background-size: 450px 500px;
}

.itemDestinoArrastreB7_2{
  background-image: url('images/imagen7_1rec2op.jpg');
  width: 50%;
  height: 100%;
  background-size: 450px 500px;
}

/*--------------------*/
/*--- FIN ARRASTRE ---*/
/*--------------------*/

.tituloIndex{
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
  font-size: 5em;
}

.tituloIndiceH1{
  display: inline-inline-block;
  width: 50%;
}

.tituloIndiceH2{
  display: inline-inline-block;
  width: 75%;
}

.contenedorFlex{
  margin-top: 10%;
  margin-bottom: 10%;
}

.btn-xlarge{
  padding: .5rem 1rem;
  font-size: 2.5rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-actividad{
  color: white;
}

.sectionInformacion{
  margin-right: 10%;
  margin-left: 10%;
  padding-right: 5%;
  padding-left: 5%;
}

/*---------------*/
/*---- A y B ----*/
/*---------------*/
.descripcionJuego{
  width: 65%;
  margin: auto;
}

.imagenJuego2_1{
  background-image: url('images/imagen2_1.jpg');
  background-size: cover;
  width: 900px;
  height: 500px;
  border: 0.03em solid black;
}

.imagenJuego2_3{
  background-image: url('images/imagen2_3.jpg');
  background-size: cover;
  width: 900px;
  height: 500px;
  border: 0.03em solid black;
}

.imagenJuego6_1{
  background-image: url('images/imagen6_1.jpg');
  background-size: cover;
  width: 900px;
  height: 500px;
  border: 0.03em solid black;
}

.imagenJuego6_3{
  background-image: url('images/imagen6_3.jpg');
  background-size: cover;
  width: 900px;
  height: 500px;
  border: 0.03em solid black;
}

.canvas2_2{
  background-image: url('images/imagen2_2.jpg');
  background-size: contain;
}

.canvas2_4{
  background-image: url('images/imagen2_4.jpg');
  background-size: contain;
}

.imagenJuego6_2{
  background-image: url('images/imagen6_2.jpg');
  background-size: cover;
  width: 900px;
  height: 500px;
  border: 0.03em solid black;
}

.imagenJuego6_4{
  background-image: url('images/imagen6_4.jpg');
  background-size: cover;
  width: 900px;
  height: 500px;
  border: 0.03em solid black;
}

.imagenJuego7_1{
  background-image: url('images/imagen7_1mix.jpg');
  background-size: cover;
  width: 900px;
  height: 500px;
  border: 0.03em solid black;
}
/*-------------------*/
/*---- FIN A y B ----*/
/*-------------------*/

.fas{
  font-size: 75px;
  color: white;
}
