.fondoNormal {
  background-image: url('images/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.fondoSuave {
  background-image: url('images/fondoSuave.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.tituloIndex{
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
  font-size: 5em;
}

.tituloIndiceH1{
  display: inline-inline-block;
  width: 50%;
}

.tituloJuegos{
  color: white;
}

.tituloIndiceH2{
  display: inline-inline-block;
  width: 75%;
}

.contenedorFlex{
  margin-top: 10%;
  margin-bottom: 10%;
}

.btn-xlarge{
  padding: .5rem 1rem;
  font-size: 2.5rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-actividad{
  color: white;
}

.sectionInformacion{
  margin-right: 10%;
  margin-left: 10%;
  padding-right: 5%;
  padding-left: 5%;
}

.contenedorJuegos{
  width: 60;
}

.fas{
  font-size: 75px;
  color: white;
}
